<div id="topBanner" class="top-banner">
  <span id="activeUser">
    Signed in as {{username}}
  </span>
  <div class="banner-actions">
    <form action="/logout" method="get" style="display:inline;">
      <button type="submit" class="banner-btn">Change User</button>
    </form>
    <button id="gameInfoBtn" class="banner-btn">Game Info</button>
  </div>
</div>
