<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Headline Game</title>
  <link rel="stylesheet" href="/public/css/styles.css">
  <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
  <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
</head>
<body>
  {{{body}}}
  <!-- <script src="/public/js/main.js"></script> -->
</body>
</html>
