{{> topBanner}}

<section class="card" id="signInSection">
  <h2>Login</h2>

<form class="authenticationForm" id="loginForm" action="/login" method="POST">

  <div class="inputGroup">
    <label for="emailInput">Email:</label>
    <input id="emailInput" name="email" type="text" value="{{user.email}}" placeholder="Enter email...">
  </div>

  <div class="inputGroup">
    <label for="passwordInput">Password:</label>
    <input id="passwordInput" name="password" type="password" placeholder="Enter password...">
  </div>

  <button id="loginButton" type="submit">Login</button>
  <a href="/signup" class="btn">Don't have an account? Sign up</a>
</form>


<ul id='login-errors' class="error-list">
{{#if hasErrors}}
    {{#each errors}}
    <li>
        {{this}}
    </li>
    {{/each}}
{{/if}}
</ul>

  <div id="usernameMsg"></div>
</section>

<script src="/public/js/user.js"></script>
