{{> topBanner}}

<section class="card" id="mainMenu">
  <h1>Welcome to News Ranker</h1>
  <p>Select a News Topic to Rank:</p>

  <form method="GET" action="/headlines">

    <div class="mainMenuGroup">
      <button type="submit" name="topic" value="Illegal Immigration">Illegal Immigration</button>
    </div>
    
    <div class="mainMenuGroup">
      <button type="submit" name="topic" value="Police">Police</button>
    </div>

    <div class="mainMenuGroup">
      <button type="submit" name="topic" value="Universal Healthcare">Universal Healthcare</button>
    </div>

  </form>
</section>
