{{> topBanner}}

<section class="card" id="mainMenu">
  <h1>Welcome to News Ranker</h1>
  <p>Select a News Topic to Rank:</p>

  <form method="get" action="/topics">
    <button type="submit" name="topic" value="Illegal Immigration">Illegal Immigration</button>
    <button type="submit" name="topic" value="Police">Police</button>
    <button type="submit" name="topic" value="Universal Healthcare">Universal Healthcare</button>
  </form>
</section>
